ctransformers==0.2.26
Flask==2.2.5
flask-marshmallow==0.15.0
Flask-Migrate==4.0.4
gradio==3.43.0
langchain==0.0.312
langsmith==0.0.43
llama-index==0.8.33
numpy==1.24.0
onnx==1.14.1
openai==0.27.4
openapi-schema-pydantic==1.2.4
pandas==2.0.3
pydantic==2.3.0
pydantic-core==2.6.3
pydantic-settings==2.0.3
pymilvus==2.3.0
pypdf==3.17.0
pypdf2==3.0.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
tiktoken==0.3.3
tokenizers==0.13.3
transformers==4.31.0
faiss-cpu==1.7.4
mpi4py==3.1.5