ctransformers==0.2.26
Flask==2.2.3
flask-marshmallow==0.15.0
Flask-Migrate==4.0.4
gradio==4.26.0
langsmith==0.1.47
llama-index==0.9.27
langchain==0.1.16
numpy==1.24.0
onnx==1.14.1
pandas==2.0.3
pydantic==2.3.0
pydantic-core==2.6.3
pydantic-settings==2.0.3
pymilvus==2.3.0
pypdf==3.17.4
pypdf2==3.0.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
tiktoken==0.3.3
tokenizers==0.15.1
transformers==4.36.2
faiss-cpu==1.7.4
mpi4py==3.1.5
psutil==5.9.7
pynvml>=11.5.0
datasets==2.14.6
evaluate~=0.4.1
rouge_score~=0.1.2
sentencepiece~=0.1.99
docx2txt==0.8
soundfile==0.12.1
strenum
