venv/
__pycache__/
.DS_Store
config/preferences.json
.vscode/

ChatRTXUI/node_modules
ChatRTXUI/build
ChatRTXUI/dist
ChatRTX/model/mistral_7b_AWQ_int4_chat
ChatRTX/model/mistral_7b_instruct_FP16
ChatRTXUI/main.log
ChatRTXUI/main.old.log
chatRTX__.log
chatRTX_.log
chatRTX.log
recordedAudio**
ChatRTX/model/*